html, body{height:100%;}
body{margin:0;line-height:0;}
figure{margin:0;}
label{margin-bottom:1em;}
.vCubo{background-color:white;height:93%;width:100%;} /* Estilo del cubo */
.btns-izq{position:absolute;left:1.5em;top:1.5em;}

/*Linea de tiempo*/
.linea{align-items:center;display:flex;height:7%;justify-content:center;}
.linT{background-color:#e0e0e0;border-radius:15px;box-shadow:inset 0 2px 2px -2px gray;display:flex;height:20%;left:2em;overflow:hidden;width:95%;}
#playButton{background-color:initial;border:none;font-size:1.5em;}
.progreso{background-color:#25c5ae;height:100%;max-width:100%;transition:ease 2s;width:0%;}

#tempe{border:3px solid #232323;border-radius:50px;height:45%;position:absolute;right:15px;top:22%;width:20px;}
.btnsCentrales{position:absolute;width:100%;bottom:7%;}
.popover{max-width:100%;}/* Maximo anchura popovers */
#muestrasensoralerta,#muestrainfonodosm,#muestrainfocubo{color:black;text-decoration:none;}
#popoverinfonodos{position: absolute}
#botonreiniciar{margin-bottom:1em;}
.btn-variables{display:grid;grid-column-gap:1em;grid-row-gap:1em;}
.btn-tempe{background-color:#ff8e41;border-color:#ff6700;color:#fff;}
.btn-humerel{background-color:#51bafe;border-color:#549fff;color:#2f2f2f;}
.btn-humesuel{background-color:#f8ca8d;border-color:#ffaf54;color:#2f2f2f;}
.btn-lumi{background-color:#ffdc61;border-color:#ffba2e;color:#2f2f2f;}
.btn-redondo{background-color:#efefef;border:1px solid #c3c3c3;border-radius:100%;padding:1em;}